<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Library Admin HomePage</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="admin-container-homepage">
  <div class="side-menu">
    <div class="brand-name">
      <h1>Brand</h1>
    </div>
    <ul>
      <li><a th:href="@{/admin/home}"><i class="fa-solid fa-house"></i>&nbsp;<span>Dashboard</span></a></li>
      <li><a th:href="@{/admin/book}"><i class="fa-solid fa-book"></i>&nbsp;<span>Book</span></a></li>
      <li><a th:href="@{/admin/reader}"><i class="fa-solid fa-users"></i>&nbsp;<span>Reader</span></a></li>
      <li><a th:href="@{/admin/producer}"><i class="fa-solid fa-users"></i>&nbsp;<span>Producer</span></a></li>
      <li><a th:href="@{/admin/typereader}"><i class="fa-solid fa-users"></i>&nbsp;<span>Type Reader</span></a></li>
      <li><a th:href="@{/admin/typebook}"><i class="fa-solid fa-users"></i>&nbsp;<span>Type Book</span></a></li>
      <li><a th:href="@{#}"><i class="fa-solid fa-book"></i>&nbsp;<span>Transaction</span></a></li>
    </ul>
  </div>

  <div class="admin-main-content">
    <div class="header">
      <div class="nav">
        <div class="search">
          <input type="text" placeholder="Search here">
          <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="user">
          <a th:href="@{#}" class="btn">Register</a>
          <i class="fa-sharp fa-solid fa-bell"></i>
          <div class="img-case">
            <img src="../images/book2.jpg">
          </div>
          <div class="dropdown-menu">
            <a th:href="@{#}">[[${#request.userPrincipal.principal.username}]]
              <span><i class="fa-solid fa-angle-down" style="font-size: 10px"></i></span></a>

            <ul>
              <li><a th:href="@{#}">Profile</a></li>
              <li><a th:href="@{#}">Change password</a></li>
              <li><a th:href="@{#}">Setting</a></li>
              <li>
                  <form th:action="@{/admin/logout}" method="post">
                    <input type="submit" value="Logout">
                  </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="admin-content">
      <div class="cards">
        <div class="card">
          <div class="contentBox">
            <h1>100</h1>
            <h3>Reader</h3>
          </div>
          <div class="icon-case">
            <i class="fa-solid fa-book-open-reader" style="font-size: 40px"></i>
          </div>
        </div>
        <div class="card">
          <div class="contentBox">
            <h1>2000</h1>
            <h3>Books</h3>
          </div>
          <div class="icon-case">
            <i class="fa-solid fa-book" style="font-size: 40px"></i>
          </div>
        </div>
        <div class="card">
          <div class="contentBox">
            <h1>2000</h1>
            <h3>Books</h3>
          </div>
          <div class="icon-case">
            <i class="fa-solid fa-book" style="font-size: 40px"></i>
          </div>
        </div>
        <div class="card">
          <div class="contentBox">
            <h1>2000</h1>
            <h3>Books</h3>
          </div>
          <div class="icon-case">
            <i class="fa-solid fa-book" style="font-size: 40px"></i>
          </div>
        </div>
      </div>
      <div class="content-2">
        <div class="new-books">
          <div class="title">
            <h2>New Books</h2>
            <a th:href="@{/admin/book}" class="btn">View All</a>
          </div>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>Author</th>
                <th>Category</th>
                <th>Remain</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${listBooks}">
              <td><span th:text="${book.idBook}"></span></td>
              <td><img th:src="${book.imagePath}"></td>
              <td><span th:text="${book.nameBook}"></span></td>
              <td><span th:text="${book.author}"></span></td>
              <td><span th:text="${book.typeOfBook.nameType}"></span></td>
              <td><span th:text="${book.remain}"></span></td>
              <td>
                  <a th:href="@{#}" class="btn">View</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="new-readers">
          <div class="title">
            <h2>New Readers</h2>
            <a th:href="@{/admin/reader}" class="btn">View All</a>
          </div>
          <table>
            <thead>
              <tr>
                <td>Image</td>
                <td>Name</td>
                <td>Action</td>
              </tr>
            </thead>
            <tbody>
              <tr th:if="${listReaders.isEmpty()}">
                <td colspan="2"> No Reader Available </td>
              </tr>
              <tr th:each="reader : ${listReaders}">
                <td><img th:src="${reader.imagePath}"></td>
                <td><span th:text="${reader.nameReader}"></span></td>
                <td><a th:href="@{#}" class="btn">View</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>