<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Admin HomePage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>
<body>
<div class="admin-container-homepage">
    <div class="side-menu">
        <div class="brand-name">
            <h1>Brand</h1>
        </div>
        <ul>
            <li><a th:href="@{/admin/home}"><i class="fa-solid fa-house"></i>&nbsp;<span>Dashboard</span></a></li>
            <li><a th:href="@{/admin/book}"><i class="fa-solid fa-book"></i>&nbsp;<span>Book</span></a></li>
            <li><a th:href="@{/admin/reader}"><i class="fa-solid fa-users"></i>&nbsp;<span>Reader</span></a></li>
            <li><a th:href="@{/admin/producer}"><i class="fa-solid fa-users"></i>&nbsp;<span>Producer</span></a></li>
            <li><a th:href="@{/admin/typereader}"><i class="fa-solid fa-users"></i>&nbsp;<span>Type Reader</span></a></li>
            <li><a th:href="@{/admin/typebook}"><i class="fa-solid fa-users"></i>&nbsp;<span>Type Book</span></a></li>
            <li><a th:href="@{/admin/transaction}"><i class="fa-solid fa-book"></i>&nbsp;<span>Transaction</span></a></li>
        </ul>
    </div>

    <div class="admin-main-content">
        <div class="header">
            <div class="nav">
                <div class="search">
                    <input type="text" placeholder="Search here">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="user">
                    <a th:href="@{/admin/register}" class="btn">Register</a>
                    <i class="fa-sharp fa-solid fa-bell"></i>
                    <div class="img-case">
                        <img src="../images/book2.jpg">
                    </div>
                    <div class="dropdown-menu-book">
                        <a th:href="@{'/admin/profile/' + ${#request.userPrincipal.principal.username}}">
                            [[${#request.userPrincipal.principal.nameReader}]]
                            <span><i class="fa-solid fa-angle-down" style="font-size: 10px"></i></span></a>

                        <ul>
                            <li><a th:href="@{'/admin/change-password/' + ${#request.userPrincipal.principal.username}}">Change password</a></li>
                            <li>
                                <form th:action="@{/admin/logout}" method="post">
                                    <input type="submit" value="Logout">
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="admin-content">
            <div class="book-table">
                <div class="book-table-header">
                    <p>Transaction detail</p>
                    <form th:action="@{/admin/transaction}">
                        Filter:
                        <input type="text" name="keyword" th:value="${keyword}"
                               placeholder="Search here" required>
                        &nbsp;
                        <input type="submit" value="Search">
                        &nbsp;
                        <input type="button" value="Clear" onclick="clearFilter()">
                    </form>
                </div>
                <div class="book_table-section">
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date Borrow</th>
                            <th>Date Return</th>
                            <th>Book</th>
                            <th>Reader</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${listLoan.isEmpty()}">
                            <td colspan="2"> No Book Available</td>
                        </tr>
                        <tr th:each="loan : ${listLoan}">
                            <td><span th:text="${loan.idLoan}"></span></td>
                            <td><span th:text="${loan.dateBorrow}"></span></td>
                            <td><span th:text="${loan.dateReturn}"></span></td>
                            <td th:each="book : ${loan.books}">
                                <span th:text="${book.nameBook}"></span>
                            </td>
                            <td><span th:text="${loan.reader.nameReader}"></span></td>
                            <td>
                                <a data-toggle="modal" th:attr="data-target=${'#viewModal'+loan.idLoan}"><i
                                        class="fa-sharp fa-solid fa-info"></i></a>
                                <a th:href="@{'/admin/loan/delete/'+ ${loan.idLoan}}"><i
                                        class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <div><i class="fa-solid fa-angles-left"></i></div>
                    <div><i class="fa-solid fa-chevron-left"></i></div>
                    <div>1</div>
                    <div>2</div>
                    <div><i class="fa-solid fa-angles-right"></i></div>
                    <div><i class="fa-solid fa-chevron-right"></i></div>
                </div>
            </div>
        </div>


        <!-- View Modal -->
        <div id="myViewModal" class="modal fade" role="dialog" th:each="loan : ${listLoan}"
             th:attr="id=${'viewModal' + loan.idLoan}">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="modal-title">View Detail [[${loan.idLoan}]]</div>
                    </div>
                    <div class="modal-body">
                        <div class="details-book">
                            <label class="detail-title">Date Borrow:</label>
                            <div class="detail">[[${loan.dateBorrow}]]</div>
                        </div>
                        <div class="details-book">
                            <label class="detail-title">Date Return:</label>
                            <div class="detail">[[${loan.dateReturn}]]</div>
                        </div>
                        <div class="details-book">
                            <label class="detail-title">Reader:</label>
                            <div class="detail">[[${loan.reader.nameReader}]]</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function clearFilter(){
        window.location = '/admin/transaction';
    }
</script>
</body>
</html>