* {
	margin:0;
	padding:0;
	outline:0;
	box-sizing: border-box;
	font:11px/18px Georgia, Palatino, "Times New Roman", Times, Serif;
}

.section-book-add{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.section-book-add .container-book-add{
	max-width: 1000px;
	width: 100%;
	background: #fff;
	padding: 25px 30px;
	border-radius: 5px;
}

.section-book-add .container-book-add .book-add-title{
	font-size: 25px;
	margin-bottom: 16px;
	font-weight: 500;
	position: relative;
}
.section-book-add .container-book-add .book-add-title::before{
	content: '';
	position: absolute;
	left: 0;
	top: 25px;
	height: 3px;
	width: 30px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.section-book-add .container-book-add form{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0 32px;
}

.section-book-add .container-book-add form .avatar input{
	border: none;
	border-radius: 5px;
	background-color: #18ab12;
	color: white;
}

.section-book-add .container-book-add form .book-detail{
	display: grid;
	grid-template-rows: max-content 1fr max-content;
	gap: 12px 0;
}

.section-book-add .container-book-add form .book-detail .book-detail_form{
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	gap: 0 12px;
}

.section-book-add .container-book-add form .avatar img{
	width: 300px;
	height: 300px;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.section-book-add .container-book-add form .book-detail .inputBx{
	width: calc(100% / 2 - 20px);
	margin-bottom: 15px;
	position: relative;
	display: grid;
}

.section-book-add .container-book-add form .book-detail .description{
	grid-area: 4 / 1 / 5 / 3;
	font-size: 15px;
}

.section-book-add .container-book-add form .book-detail .description textarea{
	max-width: 500px;
	padding: 12px 12px;
	border-radius: 10px;
}

.section-book-add .container-book-add form .book-detail .inputBx input{
	height: 45px;
	width: 250px;
	outline: none;
	border-radius: 5px;
	font-size: 15px;
	border: 1px solid #ccc;
	padding-left: 15px;
	border-bottom-width: 2px;
}

.section-book-add .container-book-add form .book-detail .inputBx select{
	height: 45px;
	width: 250px;
	outline: none;
	border-radius: 5px;
	font-size: 15px;
	border: 1px solid #ccc;
	padding-left: 15px;
	border-bottom-width: 2px;
}

.section-book-add .container-book-add form .book-detail .inputBx select option{
	font-size: 15px;
}

.section-book-add .container-book-add form .book-detail .button input{
	border: none;
	padding: 6px 12px;
	border-radius: 5px;
}

.section-book-add .container-book-add form .book-detail .button input[type=submit]{
	color: #fff;
	background-color: #0298cf;
}

.section-book-add .container-book-add form .book-detail .button input[type=submit]:hover{
	color: #fff;
	background-color: #41add3;
}

.section-book-add .container-book-add form .book-detail .button button{
	border: none;
	padding: 6px 12px;
	border-radius: 5px;
}

.section-book-add .container-book-add form .book-detail .button button{
	color: #fff;
	background-color: #ff4584;
}

.section-book-add .container-book-add form .book-detail .button button:hover{
	color: #fff;
	background-color: #f66493;
}

.section-book-add .container-book-add form .book-detail .inputBx input:focus,
.section-book-add .container-book-add form .book-detail .inputBx input:valid{
	border-color: #9b59b6;
}

.section-book-add .container-book-add form .book-detail .inputBx select:focus,
.section-book-add .container-book-add form .book-detail .inputBx select:valid{
	border-color: #9b59b6;
}

.section-book-add .container-book-add form .avatar{
	justify-content: center;
	align-items: center;
	margin-left: 10px;
}

.section-book-add .container-book-add form .book-detail .description .details{
	font-weight: 500;
	margin-bottom: 5px;
	display: block;
	font-size: 17px;
}

.section-book-add .container-book-add form .book-detail .inputBx .details{
	font-weight: 500;
	margin-bottom: 5px;
	display: block;
	font-size: 17px;
}


.admin-content .pagination{
	display:flex;
	justify-content: flex-end;
	width: 100%;
	padding: 10px 20px;
}
.admin-content .pagination div{
	padding: 10px;
	border: 2px solid #d5d0d0;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0298cf;
	color: #fff;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
	margin: 0 5px;
	cursor: pointer;
}
.admin-content .book-table{
	width: 100%;
	position: relative;
}

.admin-content .book-table .book-table-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	flex-wrap: wrap;
	background-color: rgb(240,240,240);
}

.admin-content .book-table .book-table-header p{
	color: black;
	font-size: 20px;
}

.admin-content .book-table .book-table-header .add_new_book{
	padding: 10px 20px;
	color: #fff;
	background-color: #029Bcf;
	border-radius: 5px;
}

.admin-content .book-table .book-table-header .add_new_book:hover{
	color: #fff;
	background-color: #110000;
}

.admin-content .book-table .book-table-header input{
	padding: 10px 20px;
	margin: 0 10px;
	outline: none;
	border: 1px solid #0298cf;
	border-radius: 6px;
	color: #0298cf;
}

.admin-content .book-table .book_table-section{
	height: 520px;
	overflow: auto;
}

.admin-content .book-table .book_table-section table{
	width: 100%;
	table-layout: fixed;
	min-width: 900px;
	border-collapse: collapse;
}

.admin-content .book-table .book_table-section table thead th{
	position: sticky;
	top: 0;
	background-color: #f6f9fc;
	color: #8493a5;
}

.admin-content .book-table .book_table-section table th,td{
	border-bottom: 1px solid #ddd;
	padding: 10px 20px;
	word-break: break-all;
	text-align: center;
}

.admin-content .book-table .book_table-section table tr:hover td{
	color: #0298cf;
	background-color: #f6f9fc;
}

.admin-content .book-table .book_table-section table td a{
	outline: none;
	border-radius: 6px;
	padding: 7px;
	color: black;
	background-color: #fff;
}

.admin-content .book-table .book_table-section table td a:nth-child(1){
	background-color: #0298cf;
}
.admin-content .book-table .book_table-section table td a:nth-child(2){
	background-color: #e72020;
}
.admin-content .book-table .book_table-section table td a:nth-child(3){
	background-color: #14be2b;
}

.admin-content .book-table .book_table-section ::-webkit-scrollbar{
	height: 5px;
	width: 5px;
}
.admin-content .book-table .book_table-section ::-webkit-scrollbar-track{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.admin-content .book-table .book_table-section ::-webkit-scrollbar-thumb{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.admin-content .book-table .book-table-header input::placeholder{
	color: #0298cf;
}

.admin-container-homepage table td img{
	width: 40px;
	height: 40px;
	align-items: center;
	justify-content: center;
}
.admin-container-homepage .admin-main-content .header .nav .user ul li a{
	display: block;
	color: #333;
	padding: 5px;
}
.admin-container-homepage .admin-main-content .header .nav .user ul li input[type=submit]{
	display: block;
	border: none;
}
.admin-container-homepage .admin-main-content .header .nav .user ul li a:hover{
	background: #333;
	color: #fff;
}
.admin-container-homepage .admin-main-content .header .nav .user .dropdown-menu{
	position: relative;
}
.admin-container-homepage .admin-main-content .header .nav .user .dropdown-menu:hover > ul{
	position: absolute;
	display: initial;
}
.admin-container-homepage .admin-main-content .header .nav .user ul{
	position: absolute;
	left: 0;
	width: 200px;
	background: #fff;
	display: none;
	top: 16px;
}
.admin-container-homepage li{
	list-style: none;
}

.admin-main-content table{
	padding: 10px;
}
.admin-main-content table th,td{
	text-align: center;
	padding: 8px;
}
.admin-main-content table th{
	font-weight: 500;
	font-size: 20px;
}
.admin-main-content table td{
	font-size: 15px;
}
.admin-main-content .btn{
	background: red;
	color: white;
	padding: 5px 10px;
	text-align: center;
}

.admin-main-content .btn:hover{
	background: #EFF4D7;
	color: #ff4584;
}

.admin-container-homepage .admin-main-content{
	position: absolute;
	right: 0;
	width: 80vw;
	height: 100vh;
	background: #e7c6c6;
}

.admin-container-homepage .admin-main-content .admin-content{
	position: relative;
	margin-top: 10vh;
	min-height: 90vh;
	background: #d9aaaa;
}

.admin-container-homepage .admin-main-content .admin-content .content-2{
	min-height: 60vh;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}
.admin-container-homepage .admin-main-content .admin-content .content-2 .title{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 15px 10px;
	border-bottom: 2px solid #999;
}
.admin-container-homepage .admin-main-content .admin-content .content-2 .new-books{
	min-height: 50vh;
	flex: 5;
	background: white;
	margin: 0 25px 25px 25px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	display: flex;
	flex-direction: column;
}

.admin-container-homepage .admin-main-content .admin-content .content-2 .new-readers{
	flex: 2;
	background: white;
	min-height: 50vh;
	margin: 0 25px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	display: flex;
	flex-direction: column;
}

.admin-main-content .admin-content .cards{
	padding: 20px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.admin-container-homepage .admin-main-content .admin-content .cards .card{
	width: 250px;
	height: 150px;
	background: #c5c0c0;
	margin: 20px 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.admin-main-content .header .nav .user i{
	font-size: 25px;
}
.admin-main-content .header .nav .user .img-case{
	position: relative;
	width: 50px;
	height: 50px;

}
.admin-main-content .header .nav .user .img-case img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.admin-container-homepage .admin-main-content .header{
	position: fixed;
	top: 0;
	right: 0;
	width: 80vw;
	height: 10vh;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	z-index: 1;
}

.admin-container-homepage .admin-main-content .header .nav{
	width: 90%;
	display: flex;
	align-items: center;
}

.admin-container-homepage .admin-main-content .header .nav .search{
	flex: 4;
	display: flex;
	justify-content: center;
}

.admin-container-homepage .admin-main-content .header .nav .search input[type=text]{
	border: none;
	background: #f1f1f1;
	padding: 10px;
	width: 50%;
}

.admin-container-homepage .admin-main-content .header .nav .search button{
	width: 40px;
	height: 40px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.admin-container-homepage .admin-main-content .header .nav .user{
	flex: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.admin-container-homepage{
	min-height: 100vh;
}

.admin-container-homepage .side-menu{
	position: fixed;
	background: #f05462;
	width: 20vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.admin-container-homepage .side-menu .brand-name{
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.admin-container-homepage .side-menu li a{
	list-style: none;
	margin-left: 10px;
	font-size: 24px;
	padding: 10px 40px;
	color: white;
	display: flex;
	align-items: center;
}
.admin-container-homepage .side-menu li a span{
	font-size: 24px;
}
.admin-container-homepage .side-menu li a:hover{
	background: white;
	color: #ff4584;
}
.admin-container-homepage h1{
	line-height:1.5em;
	font-size:2.7em;
	color: #110106;
	text-shadow: #a84178 1px 1px 1px;
}

.eye{
	position: absolute;
	top: 50%;
	right: 3%;
}

.eye_confirm{
	position: absolute;
	top: 50%;
	right: 3%;
}


.eye .see_password{
	display: none;
}

.eye .see_login_password{
	display: none;
}

.eye_confirm .see_confirm_password{
	display: none;
}

.section-login{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
}

.section-register{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container-register{
	max-width: 700px;
	width: 100%;
	background: #fff;
	padding: 25px 30px;
	border-radius: 5px;

}

.container-register .register-title{
	font-size: 25px;
	margin-bottom: 10px;
	font-weight: 500;
	position: relative;
}

.container-register .register-title::before{
	content: '';
	position: absolute;
	left: 0;
	top: 25px;
	height: 3px;
	width: 30px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container-register form .user-detail{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 12px 0;
}

.container-register form .user-detail .inputBx{
	width: calc(100% / 2 - 20px);
	margin-bottom: 15px;
	position: relative;
}

.container-register form .user-detail .inputBx .details{
	font-weight: 500;
	margin-bottom: 5px;
	display: block;
	font-size: 17px;
}

.container-register form .user-detail .inputBx input{
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	font-size: 15px;
	border: 1px solid #ccc;
	padding-left: 15px;
	border-bottom-width: 2px;
}

.container-register form .user-detail .inputBx input:focus,
.container-register form .user-detail .inputBx input:valid{
	border-color: #9b59b6;
}

.container-register form .user-detail .inputBx select{
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	font-size: 15px;
	padding-left: 15px;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	transition: all 0.3s ease;
}

.container-register form .user-detail .inputBx select:valid{
	border-color: #9b59b6;
}

.container-register form .gender-detail .gender-title{
	font-size: 17px;
	font-weight: 500;
}

.container-register form .gender-detail .category{
	display: flex;
	width: 80%;
	justify-content: space-between;
	margin: 14px 0;
}

.container-register form .gender-detail .category label{
	display: flex;
	align-items: center;
}

.container-register form .gender-detail .category .dot{
	height: 18px;
	width: 18px;
	background: #d9d9d9;
	border-radius: 50%;
	margin-right: 10px;
	border: 5px solid transparent;
}

.container-register form .gender-detail .category .gender{
	font-size: 15px;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
	border-color: #d9d9d9;
	background: #9b59b6	;
}

.container-register form input[type=radio]{
	display: none;
}
.container-register form .user-detail .inputBx select option{
	font-size: 15px;
}

.container-register form .button input{
	height: 100%;
	width: 100%;
	outline: none;
	color: #fff;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
	border: none;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 10px;
}
.container-register form .button input:hover{
	background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
.section-login .imgBx{
	position: relative;
	width: 50%;
	height: 100%;
}

.section-login .imgBx:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(255deg, #e91e63, #03a94f);
	z-index: 1;
	mix-blend-mode: screen;
}

.section-login .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section-login .contentBx{
	display: flex;
	width: 50%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.section-login .contentBx .formBx{
	width: 50%;

}

.section-login .contentBx .formBx h2{
	color: #607db8;
	font-weight: 600;
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 20px;
	border-bottom: 4px solid #ff4584;
	display: inline-block;
	letter-spacing: 1px;
}

.section-login .contentBx .formBx .inputBx{
	margin-bottom: 20px;
	position: relative;
}
.section-login .contentBx .formBx .inputBx span{
	font-size: 16px;
	margin-bottom: 5px;
	display: inline-block;
	color: #607db8;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 1px;
}
.section-login .contentBx .formBx .inputBx input{
	width: 100%;
	padding: 10px 20px;
	outline: none;
	font-weight: 400;
	border: 1px solid #607d8b;
	font-size: 16px;
	letter-spacing: 1px;
	color: #607d8b;
	background: transparent;
	border-radius: 30px;
}

.section-login .contentBx .formBx .inputBx input[type="submit"]{
	background: #ff4584;
	color: #fff;
	outline: none;
	border: none;
	font-weight: 500;
	cursor: pointer;
}
.section-login .contentBx .formBx .inputBx input[type="submit"]:hover{
	background: #f53677;
}
.section-login .contentBx .formBx .remember{
	margin-bottom: 10px;
	color: #607d8b;
	font-weight: 400;
	font-size: 14px;
}
.section-login .contentBx .formBx .inputBx p{
	color: #607d8b;
}

.section-login .contentBx .formBx .inputBx p a{
	color: #ff4584
}
.section-login .contentBx .formBx h3{
	color: #607d8b;
	text-align: center;
	margin: 80px 0 10px;
	font-weight: 500;
}
.section-login .contentBx .formBx .sci{
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-login .contentBx .formBx .sci li{
	list-style: none;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #607d8b;
	border-radius: 50%;
	margin: 0 7px;
	cursor: pointer;
}
.section-login .contentBx .formBx .sci li:hover{
	background: #ff4584;
}
.section-login .contentBx .formBx .sci li img{
	transform: scale(0.5);
	filter: invert(1);
}

.section-login .contentBx .formBx .error_message{
	text-align: center;
}
@media screen and (max-width: 1050px){
	.side-menu li{
		font-size: 18px;
		list-style: none;
	}
	.brand-name h1{
		font-size: 18px;
	}
	.admin-container-homepage .admin-main-content .admin-content .cards{
		align-items: center;
		justify-content: center;
	}
	.side-menu li i{
		font-size: 25px;
	}
	.side-menu{
		align-items: center;
	}
	.side-menu span{
		display: none;
	}
	.admin-container-homepage .admin-main-content .admin-content .content-2 .new-books table th:nth-child(1),
	.admin-container-homepage .admin-main-content .admin-content .content-2 .new-books table th:nth-child(2),
	.admin-container-homepage .admin-main-content .admin-content .content-2 .new-books table th:nth-child(6),
	.admin-container-homepage .admin-main-content .admin-content .content-2 .new-books table td:nth-child(1),
	.admin-container-homepage .admin-main-content .admin-content .content-2 .new-books table td:nth-child(2),
	.admin-container-homepage .admin-main-content .admin-content .content-2 .new-books table td:nth-child(6){
		display: none;
	}

	.side-menu .li{
		font-size: 18px;
	}
	.side-menu .li span{
		display: none;
	}
	.side-menu{
		align-items: center;
	}
}
@media screen and (max-width: 768px) {
	.section-login .imgBx{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	.section-login .contentBx{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.section-login .contentBx .formBx{
		width: 100%;
		padding: 40px;
		background: rgb(255 255 255 / 0.9);
		margin: 50px;
	}

	.section-login .contentBx .formBx h3{
		color: #607d8b;
		text-align: center;
		margin: 30px 0 10px;
		font-weight: 500;
	}

	.container-register{
		max-width: 100%;
	}

	.container-register form .user-detail .inputBx{
		width: 100%;
		margin-bottom: 15px;
	}

	.container-register form .gender-detail .category {
		width: 100%;
	}

	.container-register form .user-detail{
		max-height: 300px;
		overflow-y: scroll;
	}
	.container-register form .user-detail::-webkit-scrollbar{
		width: 0;
	}
}
.container-homepage {
	background: url(../images/bg_1.jpg);
	background-repeat: no-repeat;
	background-position: bottom right;
	color: #eee2e2;
	height: 100vh;
}

.container-homepage a {
	color: #f8a822;
}

a{
	text-decoration: none;
}

.container-homepage a:hover {
	color: #fcfdf8;
}
p {
	margin:0 0 15px;
	line-height:1.6em;
}
.container-homepage h1 {
	float:left;
	width:320px;
	line-height:1.5em;
	font-size:2.7em;
	color: #b9466a;
	margin:0 0 20px;
	text-shadow: #a84178 1px 1px 1px;
}
.container-homepage h2 {
	margin:0 0 15px;
	font-size:1.6em;
}

.admin-container-homepage h2{
	font-size: 30px;
}

.admin-main-content h3{
	font-size: 25px;
}
.container-homepage h3 {
	margin:0 0 7px;
	font-size:1.3em;
	clear:both;
	color: #849fec;
	line-height:1.3em;
}
h4 {
	margin:0 0 10px;
	font-size:1.2em;
}
img {
	border:0;
}

#content {
	margin:0 auto;
	width:960px;
}
#header {
	height:350px;
}
#top {
	padding:13px 0 0;
	margin:0 0 60px;
	color:#fff;
	height:31px;
}
#pitch {
	clear:left;
	float:left;
	width:610px;
	font-size:1.2em;
	padding:20px 0 0;
	color: #f6eded;
	margin:0 0 60px;
}
#menu {
	float:right;
	margin:10px 15px 0 0;
}
#menu li {
	display:inline;
}
#menu li a {
	float:left;
	color:#EFF4D7;
	font-size:1.2em;
	margin:0 0 0 20px;
	padding:4px;
}
#menu li a:hover, #menu li a.current {
	color:#fff;
	border-bottom:1px solid #15a163;
}
#cols {
	clear:both;
}
.col {
	float:left;
	width:300px;
	margin:0 39px 30px 0;
}
.last {
	position:relative;
	float:right;
	margin:-76px 0 0;
	background: #a15f5f;
	width:280px;
}
.col.last div {
	padding:12px;
}
.img {
	clear:both;
	margin:0 0 15px;
	border:1px solid #ddd;
	padding:5px;
}
.date {
	margin:0 0 12px;
	color: #3cc29e;
}
.col h4 {
	background: #3a343a;
	padding:15px;
	color: #bd69a0;
}
.popup{
	position: absolute;
	top: -150%;
	left: 50%;
	opacity: 0;
	transform:translate(-50%,-50%) scale(1.25);
	width: 320px;
	padding: 20px 30px;
	background: #efe7e7;
	box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
	border-radius: 10px;
	transition: top 0ms ease-in-out 200ms,
				opacity 0ms ease-in-out 0ms,
				transform 20ms ease-in-out 0ms;
}

.popup.active{
	top: 50%;
	opacity: 1;
	transform:translate(-50%,-50%) scale(1);
	transition: top 0ms ease-in-out 0ms,
	opacity 0ms ease-in-out 0ms,
	transform 20ms ease-in-out 0ms;
}

.close-btn{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 15px;
	height: 15px;
	background: firebrick;
	color: #131010;
	text-align: center;
	line-height: 15px;
	border-radius: 15px;
	cursor: pointer;
}

.popup .form h2{
	text-align: center;
	color: #0e0000;
	margin: 10px 0px 20px;
	font-size: 25px;
}

.popup .form .form-element{
	margin: 15px 0px;
}

.popup .form .form-element label{
	font-size: 14px;
	color: #0c0000;
}

.popup .form .form-element input[type="email"],
.popup .form .form-element input[type="password"]{
	margin-top: 5px;
	display: block;
	width: 100%;
	padding: 10px;
	outline: none;
	border: 1px solid #aaa;
	border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"]{
	margin-right: 5px;
}

.popup .form .form-element button{
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	font-size: 16px;
	background: #222;
	color: #f5f5f5;
	border-radius: 10px;
	cursor: pointer;
}

.popup .form .form-element a{
	display: block;
	text-align: right;
	font-size: 15px;
	color: #1a79ca;
	text-decoration: none;
	font-weight: 600;
}

#main {
	float:left;
	clear:both;
	width:640px;
	font-size:1.2em;
}
.left {
	float:left;
	margin:0 30px 10px 0;
}
#main p {
	text-align:justify;
}
#footer {
	clear:both;
	border-top:1px solid #ddd;
	color: #dedede;
	padding:35px 0 15px 0;
}
#footer a {
	margin:0;
	color: #131010;
}
#footer .left {
	float:left;
}
#footer .right {
	float:right;
}
