<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Library HomePage</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="../js/register.js"></script>
</head>
<body>
<div class="section-register">
    <div class="container-register">
        <div class="register-title">[[${pageTitle}]]</div>
        <form class="register_form" th:action="@{'/reader/change-password/' + ${#request.userPrincipal.principal.username}}" method="post"
              enctype="multipart/form-data">
            <div th:if="${message != null} " class="m-3">
                <p class="text-danger">[[${message}]]</p>
            </div>
            <div class="user-detail">
                <div class="inputBx">
                    <span class="details">Old Password</span>
                    <input class="password" name="oldPassword" type="password"
                           placeholder="Enter your password" required>
                    <span class="eye" onclick="seePassword()">
                        <i class="fa-regular fa-eye see_password"></i>
                        <i class="fa-regular fa-eye-slash hide_password"></i>
                    </span>
                </div>

                <div class="inputBx">
                    <span class="details">New password</span>
                    <input class="password" name="newPassword" type="password" id="newPassword"
                           placeholder="Enter your password" required>
                    <span class="eye" onclick="seePassword()">
                        <i class="fa-regular fa-eye see_password"></i>
                        <i class="fa-regular fa-eye-slash hide_password"></i>
                    </span>
                </div>

                <div class="inputBx">
                    <span class="details">Confirm new Password</span>
                    <input class="confirm_password" name="confirmPassword" type="password"
                           placeholder="Confirm your password"
                           oninput="checkMatchingPassword(this)" required>
                    <span class="eye_confirm" onclick="seeConfirmPassword()">
                        <i class="fa-regular fa-eye see_confirm_password"></i>
                        <i class="fa-regular fa-eye-slash hide_confirm_password"></i>
                    </span>
                    <span id="message"></span>
                </div>
            </div>
            <div class="button">
                <input type="submit" class="button-submit-register" value="Save">
            </div>
            <div class="inputBx">
                <p><a th:href="@{/static}">Return Home Page</a></p>
            </div>
        </form>
    </div>
</div>
<script>
    function checkMatchingPassword(confirmPassowrd){
        if (confirmPassowrd.value != $("#newPassword").val()){
            confirmPassowrd.setCustomValidity("New password dot not match!");
        }else {
            confirmPassowrd.setCustomValidity("");
        }
    }
</script>
</body>
</html>